<?xml version="1.0" encoding="utf-8"?>
<routes xmlns="http://Radischevo.com/wahha/web/routing">
  <route>
    <key>news_section</key>
    <url>/TestSite/news/{Section}</url>
    <handler>Radischevo.Wahha.Web.Mvc.MvcRouteHandler,Radischevo.Wahha.Web.Mvc</handler>
    <constraints>
      <verbs allow="get,head" />
      <regex> 
        <add parameter="section" pattern=".*" />
      </regex>
    </constraints>
    <defaults>
      <add name="controller" value="MainController" />
      <add name="action" value="Section" />
    </defaults>
    <tokens>
      <add name="maza" value="faza" />
    </tokens>
  </route>
  <route>
    <key>photoList</key>
    <url>/TestSite/gallery</url>
    <host>.+</host>
    <handler>Radischevo.Wahha.Web.Mvc.MvcRouteHandler,Radischevo.Wahha.Web.Mvc</handler>
    <verbs>
      <add type="get" />
      <add type="head" />
      <add type="post" />
    </verbs>
    <defaults>
      <add name="Controller" value="Other" />
      <add name="Action" value="Gallery" />
    </defaults>
  </route>
  <route>
    <key>news_item</key>
    <url>/TestSite/news/{Section}/{Item(\d+)}.html$</url>
    <host>.+</host>
    <handler>Radischevo.Wahha.Web.Mvc.MvcRouteHandler,Radischevo.Wahha.Web.Mvc</handler>
    <defaults>
      <add name="controller" value="MainController" />
      <add name="action" value="SectionItem" />
    </defaults>
  </route>
  <route>
    <key>login</key>
    <url>/TestSite/login</url>
    <host>.+</host>
    <handler>Radischevo.Wahha.Web.Mvc.MvcRouteHandler,Radischevo.Wahha.Web.Mvc</handler>
    <verbs>
      <add type="post" />
    </verbs>
    <defaults>
      <add name="controller" value="MainController" />
      <add name="action" value="Section" />
    </defaults>
  </route>
  <route>
    <key>index</key>
    <url>/TestSite/(default.aspx)?</url>
    <host>.+</host>
    <handler>Radischevo.Wahha.Web.Mvc.MvcRouteHandler,Radischevo.Wahha.Web.Mvc</handler>
    <defaults>
      <add name="controller" value="MainController" />
      <add name="action" value="Default" />
    </defaults>
  </route>
</routes>