<?xml version="1.0"?>
<configuration>
	<configSections>
		<sectionGroup name="radischevo.wahha">
			<section name="data" type="Radischevo.Wahha.Data.Configurations.SettingsSection,Radischevo.Wahha.Data"/>
			<sectionGroup name="web">
				<section name="routing" type="Radischevo.Wahha.Web.Routing.Configurations.SettingsSection,Radischevo.Wahha.Web.Routing" />
				<section name="mvc" type="Radischevo.Wahha.Web.Mvc.Configurations.SettingsSection,Radischevo.Wahha.Web.Mvc" />
			</sectionGroup>
		</sectionGroup>
	</configSections>
	<radischevo.wahha>
		<data>
			<cache>
				<provider type="Radischevo.Wahha.Web.Caching.AspNetCacheProvider,Radischevo.Wahha.Web" />
				<settings>
					<add name="timeout" value="15" />
				</settings>
			</cache>
			<database commandTimeout="20">
				<provider factory="Radischevo.Wahha.Data.Provider.SqlDbDataProviderFactory,Radischevo.Wahha.Data"/>
				<connectionStrings>
					<add name="default" connectionString="server=192.168.1.221;initial catalog=workle;user id=workle;password=Maxpass5;"/>
				</connectionStrings>
			</database>
		</data>
		<web>
			<routing configSource="routes.config" />
			<mvc>
				<controllers>
					<factory type="Radischevo.Wahha.Web.Mvc.DefaultControllerFactory,Radischevo.Wahha.Web.Mvc"/>
					<mappings />
				</controllers>
				<models validatorProvider="Radischevo.Wahha.Web.Mvc.DataAnnotationsValidatorProvider,Radischevo.Wahha.Web.Mvc" />
				<views>
					<add engine="Radischevo.Wahha.Web.Mvc.Html.Forms.WebFormViewEngine,Radischevo.Wahha.Web.Mvc.Html.Forms" />
				</views>
			</mvc>
		</web>
	</radischevo.wahha>	
	<system.web>
		<compilation defaultLanguage="C#" debug="true">
			<assemblies></assemblies>
		</compilation>
		<customErrors mode="Off"></customErrors>
		<authentication mode="None"></authentication>
		<trace enabled="false" localOnly="true" pageOutput="false" requestLimit="10" traceMode="SortByTime" />
		<sessionState cookieName=".ssid" mode="InProc" cookieless="false" timeout="20" />
		<globalization requestEncoding="utf-8" responseEncoding="utf-8" />
		<pages validateRequest="false" pageBaseType="Radischevo.Wahha.Web.Mvc.Html.Forms.ViewPage,Radischevo.Wahha.Web.Mvc.Html.Forms" 
			pageParserFilterType="Radischevo.Wahha.Web.Mvc.Html.Forms.ViewTypeParserFilter,Radischevo.Wahha.Web.Mvc.Html.Forms" 
			enableEventValidation="false" enableViewState="false" enableViewStateMac="false" 
			userControlBaseType="Radischevo.Wahha.Web.Mvc.Html.Forms.ViewUserControl,Radischevo.Wahha.Web.Mvc.Html.Forms">
			<namespaces>
				<add namespace="System.Collections.Generic" />
				<add namespace="System.Globalization" />
				<add namespace="System.Linq" />
				<add namespace="Radischevo.Wahha.Core" />
				<add namespace="Radischevo.Wahha.Data" />
				<add namespace="Radischevo.Wahha.Web" />
				<add namespace="Radischevo.Wahha.Web.Abstractions" />
				<add namespace="Radischevo.Wahha.Web.Text" />
				<add namespace="Radischevo.Wahha.Web.Mvc" />
				<add namespace="Radischevo.Wahha.Web.Mvc.Html" />
				<add namespace="Radischevo.Wahha.Web.Mvc.Html.Forms" />
				<add namespace="Radischevo.Wahha.Web.Routing" />
			</namespaces>
		</pages>
		<httpHandlers>
			<add verb="*" path="wahha.routing.axd" validate="false" type="Radischevo.Wahha.Web.Mvc.MvcHttpHandler,Radischevo.Wahha.Web.Mvc" />
		</httpHandlers>
		<httpModules>
			<add name="RoutingModule" type="Radischevo.Wahha.Web.Routing.UrlRoutingModule,Radischevo.Wahha.Web.Routing" />
		</httpModules>
	</system.web>
</configuration>
