<?xml version="1.0"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
	<configSections>
		<sectionGroup name="radischevo.wahha">
			<section name="data" type="Radischevo.Wahha.Data.Configurations.SettingsSection,Radischevo.Wahha.Data"/>
			<sectionGroup name="web">
				<section name="routing" type="Radischevo.Wahha.Web.Routing.Configurations.SettingsSection,Radischevo.Wahha.Web.Routing"/>
				<section name="mvc" type="Radischevo.Wahha.Web.Mvc.Configurations.SettingsSection,Radischevo.Wahha.Web.Mvc"/>
			</sectionGroup>
		</sectionGroup>
	</configSections>
	<appSettings>
		<add key="microsoft.visualstudio.teamsystems.aspnetdevserver:/TestSite" value="21787;True;4000;2;-8589943789111182058"/>
		<add key="microsoft.visualstudio.teamsystems.backupinfo" value="2;web.config.backup"/>
	</appSettings>
	<connectionStrings/>
	<radischevo.wahha>
		<data>
			<cache>
				<provider type="Radischevo.Wahha.Web.Caching.AspNetCacheProvider,Radischevo.Wahha.Web"/>
				<settings>
					<add name="timeout" value="15"/>
				</settings>
			</cache>
			<providers commandTimeout="20">
				<add name="sql" type="Radischevo.Wahha.Data.Provider.SqlDbDataProvider,Radischevo.Wahha.Data" default="true"/>
				<add name="oledb" type="Radischevo.Wahha.Data.Provider.OleDbDataProvider,Radischevo.Wahha.Data"/>
			</providers>
			<connectionStrings>
				<add name="default" connectionString="server=euro\sqlexpress;initial catalog=cmsstore;user id=sa;password=Trfnthbyf_Lelpbycrfz"/>
			</connectionStrings>
		</data>
		<web>
			<routing>
				<provider type="Radischevo.Wahha.Web.Routing.Providers.ConfigurationRouteTableProvider,Radischevo.Wahha.Web.Routing"/>
				<variables>
					<add name="appname" value="wahha-test"/>
				</variables>
				<routes defaultHandler="Radischevo.Wahha.Web.Mvc.MvcRouteHandler,Radischevo.Wahha.Web.Mvc">
					<route type="page" name="plain-page" url="~/profile" page="~/Views/Users/plain.aspx">
						<tokens>
							<add name="vodka" value="pivo"/>
						</tokens>
					</route>
					<route type="ignore" name="ignore-resources" url="~/resources"/>
					<route name="news" url="/[appname]/news/{Section}/page{page}" secure="preferred">
						<constraints>
							<add type="method" verbs="get,head"/>
							<add type="regex" parameter="section" pattern="[A-Za-z]+[A-Za-z0-9\-_]*"/>
							<add type="regex" parameter="page" pattern="\d+"/>
						</constraints>
						<defaults>
							<add name="controller" value="MainController"/>
							<add name="action" value="Section"/>
							<add name="page" value="1"/>
						</defaults>
						<tokens>
							<add name="maza" value="faza"/>
						</tokens>
					</route>
					<route name="sgml" url="/[appname]/sgml" secure="never">
						<constraints>
							<add type="method" verbs="get,head,post"/>
						</constraints>
						<defaults>
							<add name="controller" value="MainController"/>
							<add name="action" value="TestSgml"/>
						</defaults>
					</route>
					<route name="json-test" url="/[appname]/json/{id}">
						<constraints>
							<add type="method" verbs="get,head,post"/>
						</constraints>
						<defaults>
							<add name="controller" value="MainController"/>
							<add name="action" value="TestJsonCallback"/>
						</defaults>
					</route>
					<route name="arrays" url="/[appname]/arrays">
						<constraints>
							<add type="method" verbs="get,head,post"/>
						</constraints>
						<defaults>
							<add name="controller" value="MainController"/>
							<add name="action" value="TestArrayAndCollection"/>
						</defaults>
					</route>
				</routes>
			</routing>
			<mvc>
				<controllers>
					<factory type="Radischevo.Wahha.Web.Mvc.DefaultControllerFactory,Radischevo.Wahha.Web.Mvc"/>
					<filterProviders/>
					<mappings/>
				</controllers>
				<views>
					<add engine="Radischevo.Wahha.Web.Mvc.Html.Forms.WebFormViewEngine,Radischevo.Wahha.Web.Mvc.Html.Forms"/>
				</views>
			</mvc>
		</web>
	</radischevo.wahha>
	<system.web>
		<!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
		<compilation debug="true" targetFramework="4.0">
			<assemblies>
				<add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.ComponentModel.DataAnnotations, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/></assemblies>
		</compilation>
		<pages pageBaseType="Radischevo.Wahha.Web.Mvc.Html.Forms.ViewPage,Radischevo.Wahha.Web.Mvc.Html.Forms" 
			   pageParserFilterType="Radischevo.Wahha.Web.Mvc.Html.Forms.ViewTypeParserFilter,Radischevo.Wahha.Web.Mvc.Html.Forms" 
			   userControlBaseType="Radischevo.Wahha.Web.Mvc.Html.Forms.ViewUserControl,Radischevo.Wahha.Web.Mvc.Html.Forms" 
			   controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
			<namespaces>
				<add namespace="Radischevo.Wahha.Core"/>
				<add namespace="Radischevo.Wahha.Web"/>
				<add namespace="Radischevo.Wahha.Web.Routing"/>
				<add namespace="Radischevo.Wahha.Web.Mvc"/>
				<add namespace="Radischevo.Wahha.Web.Mvc.Html"/>
				<add namespace="Radischevo.Wahha.Web.Mvc.Html.Forms"/>
			</namespaces>
		</pages>
		<!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
		<authentication mode="Windows"/>
		<!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
		<httpHandlers>
			<add verb="*" path="wahha.routing.axd" validate="false" type="Radischevo.Wahha.Web.Mvc.MvcHttpHandler, Radischevo.Wahha.Web.Mvc"/>
			<add verb="*" path="scriptTemplate.axd" validate="false" type="Radischevo.Wahha.Web.Scripting.Templates.JavaScriptTemplateHandler, Radischevo.Wahha.Web"/>
			<add verb="*" path="routing.js" validate="false" type="Radischevo.Wahha.Web.Routing.Scripting.JavaScriptRouteTableHandler,Radischevo.Wahha.Web.Routing"/>
		</httpHandlers>
		<httpModules>
			<add name="RoutingModule" type="Radischevo.Wahha.Web.Routing.UrlRoutingModule, Radischevo.Wahha.Web.Routing"/>
		</httpModules>
	</system.web>
	<!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
	<system.webServer>
		<validation validateIntegratedModeConfiguration="false"/>
	</system.webServer>
</configuration>
