<?xml version="1.0"?>
<!--
Web.config file for Interface.

The settings that can be used in this file are documented at 
http://www.mono-project.com/Config_system.web and 
http://msdn2.microsoft.com/en-us/library/b5ysx397.aspx
-->
<configuration>
  <configSections>
	<sectionGroup name="radischevo.wahha">
		<section name="data" type="Radischevo.Wahha.Data.Configurations.SettingsSection,Radischevo.Wahha.Data"/>
		<sectionGroup name="web">
			<section name="routing" type="Radischevo.Wahha.Web.Routing.Configurations.SettingsSection,Radischevo.Wahha.Web.Routing" />
			<section name="mvc" type="Radischevo.Wahha.Web.Mvc.Configurations.SettingsSection,Radischevo.Wahha.Web.Mvc" />
		</sectionGroup>
	</sectionGroup>
  </configSections>
  <radischevo.wahha>
	<data>
		<cache>
			<provider type="Radischevo.Wahha.Web.Caching.AspNetCacheProvider,Radischevo.Wahha.Web" />
			<settings>
				<add name="timeout" value="15" />
			</settings>
		</cache>
		<database>
			<providers>
				<add name="sql" factor="4" seed="16" factory="Radischevo.Wahha.Data.Provider.SqlDbDataProviderFactory,Radischevo.Wahha.Data">
					<connectionStrings>
						<add name="default" connectionString="server=192.168.1.221;initial catalog=workle;user id=workle;password=Maxpass5;"/>
					</connectionStrings>
				</add>
			</providers>
		</database>
	</data>
	<web>
		<routing configSource="routes.config" />
		<mvc>
			<controllers>
				<factory type="Radischevo.Wahha.Web.Mvc.DefaultControllerFactory,Radischevo.Wahha.Web.Mvc"/>
				<mappings />
			</controllers>
			<models>
				<validatorProviders>
					<add type="Radischevo.Wahha.Web.Mvc.DataAnnotationsModelValidatorProvider,Radischevo.Wahha.Web.Mvc" />
				</validatorProviders>
			</models>
			<views>
				<add engine="Radischevo.Wahha.Web.Mvc.Html.Forms.WebFormViewEngine,Radischevo.Wahha.Web.Mvc.Html.Forms" />
			</views>
		</mvc>
	</web>
  </radischevo.wahha>
  <system.web>
	<sessionState mode="InProc" cookieName=".ssid"/>
    <compilation defaultLanguage="C#" debug="false">
      <assemblies>
        <add assembly="System.Core, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>
    </compilation>
    <customErrors mode="Off" />
    <pages validateRequest="false" pageBaseType="Radischevo.Wahha.Web.Mvc.Html.Forms.ViewPage,Radischevo.Wahha.Web.Mvc.Html.Forms" 
		pageParserFilterType="Radischevo.Wahha.Web.Mvc.Html.Forms.ViewTypeParserFilter,Radischevo.Wahha.Web.Mvc.Html.Forms" 
		enableEventValidation="false" enableViewState="false" enableViewStateMac="false" 
		userControlBaseType="Radischevo.Wahha.Web.Mvc.Html.Forms.ViewUserControl,Radischevo.Wahha.Web.Mvc.Html.Forms">
		<namespaces>
			<add namespace="System.Collections.Generic" />
			<add namespace="System.Globalization" />
			<add namespace="System.Linq" />
			<add namespace="Radischevo.Wahha.Core" />
			<add namespace="Radischevo.Wahha.Data" />
			<add namespace="Radischevo.Wahha.Web" />
			<add namespace="Radischevo.Wahha.Web.Abstractions" />
			<add namespace="Radischevo.Wahha.Web.Text" />
			<add namespace="Radischevo.Wahha.Web.Mvc" />
			<add namespace="Radischevo.Wahha.Web.Mvc.Html" />
			<add namespace="Radischevo.Wahha.Web.Mvc.Html.Forms" />
			<add namespace="Radischevo.Wahha.Web.Routing" />
			<add namespace="Radischevo.Wahha.Test.Website" />
		</namespaces>
	</pages>
    <authorization>
      <allow users="*" />
    </authorization>
    <httpHandlers>
    </httpHandlers>
    <httpModules>
		<add name="RoutingModule" type="Radischevo.Wahha.Web.Routing.UrlRoutingModule,Radischevo.Wahha.Web.Routing" />
    </httpModules>
    <trace enabled="false" localOnly="true" pageOutput="false" requestLimit="10" traceMode="SortByTime" />
    <globalization requestEncoding="utf-8" responseEncoding="utf-8" />
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" warningLevel="4" type="Microsoft.CSharp.CSharpCodeProvider, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <providerOption name="CompilerVersion" value="v3.5" />
        <providerOption name="WarnAsError" value="false" />
      </compiler>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" warningLevel="4" type="Microsoft.VisualBasic.VBCodeProvider, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <providerOption name="CompilerVersion" value="v3.5" />
        <providerOption name="OptionInfer" value="true" />
        <providerOption name="WarnAsError" value="false" />
      </compiler>
    </compilers>
  </system.codedom>
</configuration>