<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration"/>
		<sectionGroup name="radischevo.wahha">
			<section name="core" type="Radischevo.Wahha.Core.Configurations.SettingsSection,Radischevo.Wahha.Core"/>
			<section name="data" type="Radischevo.Wahha.Data.Configurations.SettingsSection,Radischevo.Wahha.Data"/>
		</sectionGroup>
	</configSections>
	<radischevo.wahha>
		<core>
			<serviceLocation provider="ConsoleTester.UnityServiceLocator,ConsoleTester"/>
		</core>
		<data>
			<database commandTimeout="20">
				<provider factory="Radischevo.Wahha.Data.Provider.SqlDbDataProviderFactory,Radischevo.Wahha.Data"/>
				<connectionStrings>
					<add name="default" connectionString="server=iceberg\sqlexpress;initial catalog=fastfood_ru;user id=developer;password=Maxpass5;"/>
				</connectionStrings>
			</database>
		</data>
	</radischevo.wahha>
	<unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
		<alias alias="IDbDataProviderFactory" type="Radischevo.Wahha.Data.IDbDataProviderFactory,Radischevo.Wahha.Data"/>
		<alias alias="SqlDbDataProviderFactory" type="Radischevo.Wahha.Data.Provider.SqlDbDataProviderFactory,Radischevo.Wahha.Data"/>
		
		<alias alias="ICacheProvider" type="Radischevo.Wahha.Data.Caching.ICacheProvider,Radischevo.Wahha.Data"/>
		<alias alias="NullCacheProvider" type="Radischevo.Wahha.Data.Caching.NullCacheProvider,Radischevo.Wahha.Data"/>
		
		<container name="default">
			<register type="ICacheProvider" mapTo="NullCacheProvider"/>
			<register type="IDbDataProviderFactory" mapTo="SqlDbDataProviderFactory"/>
		</container>
	</unity>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
