.glossary h1 {
	margin-bottom: 5px;
}

.glossary .glossary_letters {
	overflow: hidden;
	height: 90px;
	margin: 10px 0 0 7px;
}

.ie6 .glossary .glossary_letters {
	margin-left: 5px;
}

.glossary .glossary_letters a {
	display: block;
	float: left;
	margin: 0 3px 4px 0 ;
	padding: 4px 0 8px 0;
	background: url(../images/button_glossary.png) top left no-repeat;
	font: normal 20px "Trebuchet MS";
	line-height: 20px;
	color: #ffffff;
	text-decoration: none;
	width: 32px;
	text-align: center;
}

.glossary .glossary_letters a:hover {	
	background: url(../images/button_active_glossary.png) top left no-repeat;
}

.glossary .glossary_letters a.active {	
	background: url(../images/button_active_glossary.png) top left no-repeat;
}

.glossary_items {
	width: 456px;
	margin: 0 22px 10px 22px;
	overflow: hidden;
}

.glossary_items  p {
	line-height: 20px;
}

.glossary_items  p span.title {
	font-size: 24px;
}

.ie6 p span.title, .ie7 p span.title {
	font-family:  Arial, "Sans Serif";
}

.glossary_items  a  {
	color: #000000;
	text-decoration: none;
}

.glossary_items  p  a span.title span.first-letter {
	color: #ed000a !important;
}

.glossary_items  p  span.first-letter {
	color: #ed000a !important;
}

.glossary .header-big h1 {
	float: left;
	margin-right: 20px;
}



/*Форма поиска*/
.glossary #select-search form .custominput-grey {
	width: 145px;
}

.glossary #select-search form .custombutton-red {
	margin-top: 1px;
}

.glossary #select-search form .custominput-grey div.right_part {
	background: url(/resources/default_v2/images/custominputs.gif) right top no-repeat; 
	height: 24px;
}
/*end*/