<%@ Master Language="C#" Inherits="Radischevo.Wahha.Web.Mvc.Html.Forms.ViewMasterPage" %>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <% Ajax.Scripts.Block("onload").Wrap(s => { %>window.onload = function() { <%= s %> }; <% }); 
       Ajax.Scripts.Block("onunload").Wrap(s => { %>window.onunload = function() { <%= s %> }; <% }); %>
    
    <title><asp:ContentPlaceHolder id="title" runat="server"></asp:ContentPlaceHolder> / Йа китаецц!</title>
    <asp:ContentPlaceHolder id="head" runat="server">
    </asp:ContentPlaceHolder>
</head>
<body>
    <asp:ContentPlaceHolder id="main" runat="server"></asp:ContentPlaceHolder>
</body>
<% Ajax.Scripts.Render(); %>
</html>
