<?xml version="1.0"?>
<configuration>
	<system.web>
		<httpHandlers>
			<add path="*" verb="*" type="System.Web.HttpNotFoundHandler" />
		</httpHandlers>
		<pages validateRequest="false" pageBaseType="Radischevo.Wahha.Web.Mvc.Html.Forms.ViewPage,Radischevo.Wahha.Web.Mvc.Html.Forms" 
			pageParserFilterType="Radischevo.Wahha.Web.Mvc.Html.Forms.ViewTypeParserFilter,Radischevo.Wahha.Web.Mvc.Html.Forms" 
			enableEventValidation="false" enableViewState="false" enableViewStateMac="false" 
			userControlBaseType="Radischevo.Wahha.Web.Mvc.Html.Forms.ViewUserControl,Radischevo.Wahha.Web.Mvc.Html.Forms">
	</pages>
	</system.web>
	<system.webServer>
		<validation validateIntegratedModeConfiguration="false" />
		<handlers>
			<remove name="BlockViewHandler" />
			<add name="BlockViewHandler" path="*" verb="*" preCondition="integratedMode" type="System.Web.HttpNotFoundHandler" />
		</handlers>
	</system.webServer>
</configuration>
